* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg,#f6d365,#fda085);
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: whitesmoke;
}

form button {
  color: #ff6f47;
  background-color: whitesmoke;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #ff6f47;
  color: whitesmoke;
}

.todo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__list {
  min-width: 30%;
  list-style: none;
}

.todo__div {
  margin: 0.5rem;
  background-color: whitesmoke;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.todo__div li {
  flex: 1;
}

.todo__togglebtn, .todo__deletebtn {
  background-color:#ff6f47;
  color: whitesmoke;
  cursor: pointer;
  padding: 1rem;
  border: none;
  font-size: 1rem;
}

.todo__togglebtn {
  background-color: rgb(73,204,73);
}

.todo_item {
  padding:0 0.5rem;
}

.fa-trash, .fa-check {
  pointer-events: none;
}

.todo__div--completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo__div--fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  appearance: none;
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.todo__select {
  margin: 1em;
  position: relative;
  overflow: hidden;
}
.todo__select::after {
  content: "\25BC";
  position: absolute;
  background-color: white;
  color:#ff6f47;
  top: 0;
  right: -1px;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.todo__select:hover::after {
  background-color: #ff6f47;
  color: white;
}


