/* style of the nav bar*/

.nav-bar{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  .nav-bar-tile{
    display: block;
  }
  .nav-bar-nav{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding:5px;
    .nav-link-list{
      width: 100%;
      padding: 10px;
      overflow: hidden;
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      font-size: 15px;
      position: relative;
    
      li a{
        display: block;
        margin: auto;
        color:rgb(97, 95, 95);
        text-align: center;
        text-decoration: none;
        &:hover{
          color: black;
          cursor: pointer;
        }
        &::after{
          content: "";
          display: block;
          margin: auto;
          margin-top: 10px;
          height: 2px;
          width: 0;
          background-color:#2eca7f;
          transition:all 0.3s ease-in-out;
        }
        &:hover::after{
          width: 70%;
        }
      }
      .active{
        color: rgb(0, 0, 0);
        &::after{
          width: 70%;
        }
      }
      
    }
  }
}