/*main color of the site*/
$site-theme-color:#2eca7f;
//$site-theme-color:#2b386e;

/*the font family applied to the site*/
$site-font:'Montserrat', Helvetica, sans-serif;
$text-font-size:15px;

$info-card-width:1032px;

