/*main color of the site*/
/*the font family applied to the site*/
/*main color of the site*/
/*the font family applied to the site*/
.info-card {
  width: 100%;
  display: block;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
}

.info-card .card-head {
  width: 100%;
  height: 305px;
  position: relative;
  background-color: #2eca7f;
  background-image: url(https://hades217.github.io/images/sp_main_bg.png);
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.info-card .card-head .card-photo {
  position: absolute;
  bottom: -30px;
  left: 50px;
  width: 274px;
  height: 274px;
  background-color: whitesmoke;
  padding: 5px;
  z-index: 1;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.info-card .card-head .card-photo:hover {
  bottom: -20px;
  -webkit-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
}

.info-card .card-head .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  height: 100%;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-card .card-head .card-title .card-title-name {
  margin: auto;
  margin-top: 30px;
  padding-right: 20px;
  color: white;
  font-size: 54px;
  font-weight: 700;
}

.info-card .card-head .card-title .card-title-title {
  margin: auto;
  margin-top: 0px;
  color: white;
  font-size: 18px;
}

.info-card .card-head .card-title .card-title-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-card .card-head .card-title .card-title-links a {
  width: 36px;
  height: 36px;
  font-size: 16px;
  color: darkgrey;
  text-decoration: none;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px;
}

.info-card .card-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 30px 50px;
}

.info-card .card-content .about-me {
  display: block;
  width: 350px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 10px;
}

.info-card .card-content .about-me .block-title {
  font-size: 21px;
}

.info-card .card-content .about-me .block-title span {
  color: #2eca7f;
}

.info-card .card-content .about-me .block-text {
  overflow: hidden;
  font-size: 15px;
}

.info-card .card-content .contact-info {
  display: block;
  width: 350px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 10px;
  font-size: 15px;
}

.info-card .card-content .contact-info .info-table {
  margin-top: 20px;
  text-align: left;
}

.info-card .card-content .contact-info .info-table th {
  font-weight: normal;
  width: 120px;
  height: 24px;
}

.info-card .card-content .contact-info .info-table td {
  color: grey;
}

.info-card .card-content .contact-info .info-table td a {
  text-decoration: none;
  color: #2eca7f;
}

.info-card .card-content .contact-info .info-table td a:hover {
  color: orangered;
}

/* style of the nav bar*/
/*main color of the site*/
/*the font family applied to the site*/
.nav-bar {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar .nav-bar-tile {
  display: block;
}

.nav-bar .nav-bar-nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px;
}

.nav-bar .nav-bar-nav .nav-link-list {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 15px;
  position: relative;
}

.nav-bar .nav-bar-nav .nav-link-list li a {
  display: block;
  margin: auto;
  color: #615f5f;
  text-align: center;
  text-decoration: none;
}

.nav-bar .nav-bar-nav .nav-link-list li a:hover {
  color: black;
  cursor: pointer;
}

.nav-bar .nav-bar-nav .nav-link-list li a::after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 2px;
  width: 0;
  background-color: #2eca7f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-bar .nav-bar-nav .nav-link-list li a:hover::after {
  width: 70%;
}

.nav-bar .nav-bar-nav .nav-link-list .active {
  color: black;
}

.nav-bar .nav-bar-nav .nav-link-list .active::after {
  width: 70%;
}

/*text style applied to the site*/
/*main color of the site*/
/*the font family applied to the site*/
.site-title {
  color: #49515d;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin: 38px 0 0;
}

.site-title span {
  color: #2eca7f;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", Helvetica, sans-serif;
}

body {
  position: relative;
  margin: 0;
  height: 90vh;
  background-color: #f5f5f5;
  background-image: url(https://hades217.github.io/images/main_bg.png);
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1032px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer {
  margin: 30px 0 20px;
  text-align: center;
  color: grey;
}

.page-footer span {
  color: #2eca7f;
}
/*# sourceMappingURL=main.css.map */