@import "./variables";
@import "./info-card";
@import "./nav-bar";
@import "./text-style";

* {
	box-sizing: border-box;
	font-family: $site-font;
}

body {
	position: relative;
	margin: 0;
	height: 90vh;
	background-color: #f5f5f5;
	background-image: url(https://hades217.github.io/images/main_bg.png);
	background-position: center center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-card {
	display: flex;
	width: $info-card-width;
	margin: auto;
	flex-direction:column;
	align-items: center;
}

.page-footer {
	margin: 30px 0 20px;
	text-align: center;
	color:grey;
	span {
		color:$site-theme-color;
	}
}
